<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img class="mr-2" src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/59_Codepen-512.png"
            width="40" height="40" alt="CodePen Logo">
        <h3 class="ml-0 pl-0 float-right">FCC: Technical Documentation Page</h3>
    </a>
    <!-- <a href="htttp://freecodecamp.org" class="float-left" id="fccLink">freeCodeCamp.org</a> -->
    <form class="form-inline">
        <button type="button" class="btn btn-outline-secondary mr-2 px-3"> <b><i class="fas fa-heart"></i></b></button>
        <button type="button" class="btn btn-secondary text-white"> <i class="far fa-eye"></i> &nbsp <b>Chance
                View</b></button>
        <button type="button" class="btn btn-success text-body mx-2"><b>Sing Up</b></button>
        <button type="button" class="btn btn-secondary text-white"><b>Log In</b></button>

    </form>
</nav>