<div class=" fixed-left col-md-3 float-left" style="position: fixed;">
            <div class="" style="overflow-y: scroll;">
            <div class="border-bottom border-dark py-3">
                <h3 style="font-size: 1.6rem;"><span class="pr-2"><i class="fas fa-bars"></i></span>JS Documentation</h3>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item border-bottom border-dark">
                <a class="nav-link text-dark" href="#introduction">Introduction</a>
                </li>
                <li class="nav-item border-bottom border-dark ">
                <a class="nav-link text-dark" href="#alredy_know">What you should already know</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                <a class="nav-link text-dark" href="#javascript_java">Javascript and Java</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#hello-world">Hello world</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Variables">Variables</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Declaring_variables">Declaring variables</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Variable_scope">Variable scope</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Global_variables">Global variables</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Constants">Constants</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Data_types">Data types</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#if_else_statement">If...else statements</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#while_statement">While statement</a>
                </li>
                <li class="nav-item border-bottom border-dark">
                    <a class="nav-link text-dark" href="#Function_declarations">Function declarations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Reference">Reference</a>
                </li>
            </ul>
        </div>  
</div>